.container {
  background-color: grey;
  display: block;
}

.h3 {
  font-weight: 100;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 45px;
}

.list-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line if the container is too narrow */
  gap: 20px; /* Spacing between each person-container */
}

.person-container {
  display: flex;
  align-items: center; /* Align items vertically */
  width: 300px; /* Set a fixed width for each person-container */
  padding: 10px;
  border: 1px solid #ccc;
  margin: 10px;
  background-color: pink;
}

.person {
  margin-right: 20px;
}

.person img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.descrip {
  flex: 1; /* Allow the descrip div to take up remaining space */
}